@import "normalize.less";
@import "mixins.less";
@import "base.less";

@media only screen and (min-width: 768px) {
	@import "768up.less";
}

@media only screen and (min-width: 980px) {
	@import "980up.less";
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
    padding:2px;
}

::-webkit-scrollbar-thumb {
    background-color: #647086;
    border-radius: 4px;
}

.code-header > a {
    color: #919bac;
    text-decoration: underline;
}

.hidden {
    display: none;
}

button.codepen::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    filter: invert(100%);
    margin-left: 3px;
}
