<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Pixi.js{{#if title }} - {{ title }}{{/if}}</title>

        <link rel="shortcut icon" href="favicon.ico">

        {{! Stylehseets }}
        <link rel="stylesheet" href="../common.css">
        <link rel="stylesheet" href="index.css">

        {{! Scripts }}
        <script src="../common.js"></script>
        {{#unless isIndex}}
        <script src="index.js"></script>
        {{/unless}}
    </head>

    <body>
        <div id="wrapper">
            {{#unless isIndex}}
            <canvas id="view" width="960" height="720"></canvas>
            {{/unless}}

            {{> body }}
        </div>
    </body>
</html>
