@import "styles/normalize.less";
@import "styles/mixins.less";
@import "styles/base.less";

@media only screen and (min-width: 768px) {
	@import "styles/768up.less";
}

@media only screen and (min-width: 980px) {
	@import "styles/980up.less";
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
    padding:2px;
}

::-webkit-scrollbar-thumb {
    background-color: #647086;
    border-radius: 4px;
}

.code-header > a {
    color: #919bac;
    text-decoration: underline;
}

.hidden {
    display: none;
}
